<!-- ***** Preloader End ***** -->

<!-- Page Content -->
    <!-- Header -->
    <div class="sub-header">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-xs-12">
              <ul class="left-info">
               
                <li><a href="#"><i class="fa fa-phone"></i>+918347064889</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="right-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://api.whatsapp.com/send?phone=918347064889" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <header class="">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <a href="/"><img src="/images/logo.png" alt="" height="60px"></a>
            <a class="navbar-brand" href="/"><h2>Business Vruddhi</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                  <a class="nav-link" id="homepage" href="/">Home
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " id="aboutpage" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="servicepage" href="/service">Our Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contactpage" href="/contact">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    
  