<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
    <title></title>
    <!--[if (mso 16)]>
    <style type="text/css">
    a {text-decoration: none;}
    </style>
    <![endif]-->
    <!--[if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]-->
    <!--[if gte mso 9]>
<xml>
    <o:OfficeDocumentSettings>
    <o:AllowPNG></o:AllowPNG>
    <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
</xml>
<![endif]-->

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <!--<![endif]-->
</head>

<body>
    <div class="es-wrapper-color">
        <!--[if gte mso 9]>
			<v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
				<v:fill type="tile" color="#eeeeee"></v:fill>
			</v:background>
		<![endif]-->
        <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td class="esd-email-paddings" valign="top">
                        <table class="es-content esd-header-popover" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                                <tr></tr>
                                <tr>
                                    <td class="esd-stripe" esd-custom-block-id="7681" align="center">
                                        <table class="es-header-body" style="background-color: #044767;" width="600"
                                            cellspacing="0" cellpadding="0" bgcolor="#044767" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="esd-structure es-p35t es-p35b es-p35r es-p35l"
                                                        align="left">
                                                        <!--[if mso]><table width="530" cellpadding="0" cellspacing="0"><tr><td width="340" valign="top"><![endif]-->
                                                        <table class="es-left" cellspacing="0" cellpadding="0"
                                                            align="left">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="es-m-p0r es-m-p20b esd-container-frame"
                                                                        width="340" valign="top" align="center">
                                                                        <table width="100%" cellspacing="0"
                                                                            cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="esd-block-text es-m-txt-c"
                                                                                        align="left">
                                                                                        <img src="/images/logo.png"
                                                                                            alt="BusinessVruddhi logo"
                                                                                            style="display: block;"
                                                                                            title="Beretun logo"
                                                                                            width="37">
                                                                                        <h1
                                                                                            style="color: #ffffff; line-height: 100%; font-family: 'open sans', 'helvetica neue', helvetica, arial, sans-serif;">
                                                                                            BusinessVruddhi</h1>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                    
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <!--[if mso]></td><td width="20"></td><td width="170" valign="top"><![endif]-->
                                                        <table cellspacing="0" cellpadding="0" align="right">
                                                            <tbody>
                                                                <tr class="es-hidden">
                                                                    <td class="es-m-p20b esd-container-frame"
                                                                        esd-custom-block-id="7704" width="170"
                                                                        align="left">
                                                                        <table width="100%" cellspacing="0"
                                                                            cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="esd-block-spacer es-p5b"
                                                                                        align="center"
                                                                                        style="font-size:0">
                                                                                        <table width="100%"
                                                                                            height="100%"
                                                                                            cellspacing="0"
                                                                                            cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td
                                                                                                        style="border-bottom: 1px solid #044767; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; height: 1px; width: 100%; margin: 0px;">
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <!--[if mso]></td></tr></table><![endif]-->
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="es-content" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                                <tr>
                                    <td class="esd-stripe" align="center">
                                        <table class="es-content-body" width="600" cellspacing="0" cellpadding="0"
                                            bgcolor="#ffffff" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="esd-structure es-p40t es-p35r es-p35l"
                                                        esd-custom-block-id="7685" align="left">
                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="esd-container-frame" width="530"
                                                                        valign="top" align="center">
                                                                        <table width="100%" cellspacing="0"
                                                                            cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="esd-block-text es-m-txt-l es-p15t"
                                                                                        align="left">
                                                                                        <h3>Hello <%=contact.name%>!,
                                                                                        </h3>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="esd-block-text es-p15t es-p10b"
                                                                                        align="left">
                                                                                        <p
                                                                                            style="font-size: 16px; color: #777777; font-family: 'open sans', 'helvetica neue', helvetica, arial, sans-serif;">
                                                                                            Welcome to BusinessVruddhi family!
                                                                                            thanks for connecting with us!
                                                                                            We will reach you soon!
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="esd-block-spacer es-p20t es-p15b"
                                                                                        align="center"
                                                                                        style="font-size:0">
                                                                                        <table width="100%"
                                                                                            height="100%"
                                                                                            cellspacing="0"
                                                                                            cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td
                                                                                                        style="border-bottom: 3px solid #eeeeee; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; height: 1px; width: 100%; margin: 0px;">
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="esd-structure es-p30t es-p35b es-p35r es-p35l"
                                                        esd-custom-block-id="7685" align="left">
                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="esd-container-frame" width="530"
                                                                        valign="top" align="center">
                                                                        <table width="100%" cellspacing="0"
                                                                            cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="esd-block-text"
                                                                                        align="center">
                                                                                        <h2 style="color: #333333;">NEXT
                                                                                            STEP TO YOUR SUCESS</h2>
                                                                                    </td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table cellpadding="0" cellspacing="0" class="es-footer" align="center">
                            <tbody>
                                <tr>
                                    <td class="esd-stripe" esd-custom-block-id="7684" align="center">
                                        <table class="es-footer-body" width="600" cellspacing="0" cellpadding="0"
                                            align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="esd-structure es-p35t es-p40b es-p35r es-p35l"
                                                        align="left">
                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="esd-container-frame" width="530"
                                                                        valign="top" align="center">
                                                                        <table width="100%" cellspacing="0"
                                                                            cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="esd-block-image es-p15b"
                                                                                        align="center"
                                                                                        style="font-size:0"><a
                                                                                            target="_blank"><img
                                                                                                src="/images/logo.png"
                                                                                                alt="BusinessVruddhi logo"
                                                                                                style="display: block;"
                                                                                                title="Beretun logo"
                                                                                                width="37"></a></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="esd-block-text es-p35b"
                                                                                        align="center">
                                                                                        <p><strong>675 Massachusetts
                                                                                                Avenue </strong></p>
                                                                                        <p><strong>Cambridge, MA
                                                                                                02139</strong></p>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td esdev-links-color="#777777"
                                                                                        align="left"
                                                                                        class="esd-block-text es-m-txt-c es-p5b">
                                                                                        <p style="color: #777777;">If
                                                                                            you didn't create an account
                                                                                            using this email address,
                                                                                            please ignore this email
                                                                                            or&nbsp;<u><a
                                                                                                    target="_blank"
                                                                                                    style="color: #777777;"
                                                                                                    class="unsubscribe">unsubscribe</a></u>.
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="es-content" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                                <tr>
                                    <td class="esd-stripe" align="center">
                                        <table class="es-content-body" width="600" cellspacing="0" cellpadding="0"
                                            bgcolor="#ffffff" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="esd-structure es-p15t es-p35r es-p35l" align="left">
                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="esd-container-frame" width="530"
                                                                        valign="top" align="center">
                                                                        <table width="100%" cellspacing="0"
                                                                            cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="esd-block-image"
                                                                                        align="center"
                                                                                        style="font-size:0"><a
                                                                                            target="_blank"><img
                                                                                                src="https://tlr.stripocdn.email/content/guids/CABINET_75694a6fc3c4633b3ee8e3c750851c02/images/18501522065897895.png"
                                                                                                alt
                                                                                                style="display: block;"
                                                                                                width="46"></a></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="es-content" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                                <tr>
                                    <td class="esd-stripe" esd-custom-block-id="7766" align="center">
                                        <table class="es-content-body"
                                            style="border-bottom:10px solid #48afb5;background-color: #1b9ba3;"
                                            width="600" cellspacing="0" cellpadding="0" bgcolor="#1b9ba3"
                                            align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="esd-structure" align="left">
                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="esd-container-frame" width="600"
                                                                        valign="top" align="center">
                                                                        <table width="100%" cellspacing="0"
                                                                            cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="esd-block-menu">
                                                                                        <table class="es-menu"
                                                                                            width="40%" cellspacing="0"
                                                                                            cellpadding="0"
                                                                                            align="center">
                                                                                            <tbody>
                                                                                                <tr
                                                                                                    class="links-images-top">
                                                                                                    <td class="es-p10t es-p10b es-p5r es-p5l "
                                                                                                        style="padding-bottom: 30px; padding-top: 35px; "
                                                                                                        width="25.00%"
                                                                                                        bgcolor="transparent"
                                                                                                        align="center">
                                                                                                        <a target="_blank"
                                                                                                            style="color: #ffffff; font-size: 20px;"
                                                                                                            href><img
                                                                                                                src="https://tlr.stripocdn.email/content/guids/CABINET_3ef3c4a0538c293f4c84f503cd8af2cc/images/60961522067175378.png"
                                                                                                                alt
                                                                                                                title
                                                                                                                class="es-p5b"
                                                                                                                height="27"
                                                                                                                align="absmiddle"><br></a>
                                                                                                    </td>
                                                                                                    <td class="es-p10t es-p10b es-p5r es-p5l "
                                                                                                        style="padding-bottom: 30px; padding-top: 35px; "
                                                                                                        width="25.00%"
                                                                                                        bgcolor="transparent"
                                                                                                        align="center">
                                                                                                        <a target="_blank"
                                                                                                            style="color: #ffffff; font-size: 20px;"
                                                                                                            href><img
                                                                                                                src="https://tlr.stripocdn.email/content/guids/CABINET_3ef3c4a0538c293f4c84f503cd8af2cc/images/72681522067183042.png"
                                                                                                                alt
                                                                                                                title
                                                                                                                class="es-p5b"
                                                                                                                height="27"
                                                                                                                align="absmiddle"><br></a>
                                                                                                    </td>
                                                                                                    <td class="es-p10t es-p10b es-p5r es-p5l "
                                                                                                        style="padding-bottom: 30px; padding-top: 35px; "
                                                                                                        width="25.00%"
                                                                                                        bgcolor="transparent"
                                                                                                        align="center">
                                                                                                        <a target="_blank"
                                                                                                            style="color: #ffffff; font-size: 20px;"
                                                                                                            href><img
                                                                                                                src="https://tlr.stripocdn.email/content/guids/CABINET_3ef3c4a0538c293f4c84f503cd8af2cc/images/76121522068412489.jpg"
                                                                                                                alt
                                                                                                                title
                                                                                                                class="es-p5b"
                                                                                                                height="27"
                                                                                                                align="absmiddle"><br></a>
                                                                                                    </td>
                                                                                                    <td class="es-p10t es-p10b es-p5r es-p5l "
                                                                                                        style="padding-bottom: 30px; padding-top: 35px; "
                                                                                                        width="25.00%"
                                                                                                        bgcolor="transparent"
                                                                                                        align="center">
                                                                                                        <a target="_blank"
                                                                                                            style="color: #ffffff; font-size: 20px;"
                                                                                                            href><img
                                                                                                                src="https://tlr.stripocdn.email/content/guids/CABINET_3ef3c4a0538c293f4c84f503cd8af2cc/images/12411522072775563.jpg"
                                                                                                                alt
                                                                                                                title
                                                                                                                class="es-p5b"
                                                                                                                height="27"
                                                                                                                align="absmiddle"><br></a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="esd-footer-popover es-content" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                                <tr>
                                    <td class="esd-stripe" align="center">
                                        <table class="es-content-body" style="background-color: transparent;"
                                            width="600" cellspacing="0" cellpadding="0" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="esd-structure es-p30t es-p30b es-p20r es-p20l"
                                                        align="left">
                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="esd-container-frame" width="560"
                                                                        valign="top" align="center">
                                                                        <table width="100%" cellspacing="0"
                                                                            cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="center"
                                                                                        class="esd-empty-container"
                                                                                        style="display: none;"></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>